.App {    
    text-align: center;
}

.App-logo {
    height: 25vmin;
}

.App-header {
  background-color: #b2c2bf;
    min-height: 100vh;
    /*display: flex;
    flex-direction: column;*/
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    /*color: white;*/
     /* background: -webkit-linear-gradient(to bottom,#22e8f4,#253fa7);
    background: linear-gradient(to bottom,#22e8f4,#253fa7);*/

    /*background: -webkit-linear-gradient(to right,#ffc811,#fe944a);
    background: linear-gradient(to right,#ffc811,#fe944a);*/
    background-image: url("./old-map.jpg");
    background-size: cover; -ms-background-size: cover; -o-background-size: cover; -moz-background-size: cover; -webkit-background-size: cover;   
    background-repeat: no-repeat;
    background-position: center;
    /*background-size: 100% auto;  width and height, can be %, px or whatever. */
}

.App-link {
    /*color: #09d3ac;*/
}
